.diagram {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: stretch;
	justify-items: stretch;
	max-width: 25in;
	margin: .2in 0;
}

h1, p{
	margin: .25em 0;
	font-size: 1em;
}

label{
	font-size: 0.8em;
}

.diagram > div {
	padding: 12px;
	background: #EEE;
	border: 1px solid #C0C0C0;
	margin: .5em .5em
}

.input > h1{
	background-color: lightpink;
	cursor: pointer;
	text-decoration: underline;
}

.input > h1 #state, .boolean > h1 #state{
	margin-left: 1em;
	text-decoration: none;
	display: inline-block;
	background-color: lightblue;
}

.input > h1:hover {background-color: pink}

.input > h1:active {
  background-color: grey;
}

.timer > h1{
	background-color: lightblue;
}

.boolean > h1{
	background-color: lightgreen;
}

.timer progress{
	margin-top: 0.5em;
}

input[type=checkbox]::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: red;
}

input[type=checkbox]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: green;
}

#container a{
	margin: 0.1em;
}

#container #H{
	background-color: green;
	color: white;
}

#container #L{
	background-color: red;
	color: white;
}

.output.output{
	background-color: grey;
}

.diagram > div.internal{
	opacity:0.15;
}

.DL {
  grid-column: 1/span 2;
  grid-row: 1;
}
.DU {
  grid-column: 1/span 2;
  grid-row: 2;
}
.DC {
  grid-column: 1/span 2;
  grid-row: 3;
}
.NL {
  grid-column: 1/span 2;
  grid-row: 4;
}
.BL {
  grid-column: 1/span 2;
  grid-row: 5;
}
.NU {
  grid-column: 1/span 2;
  grid-row: 6;
}
.BU {
  grid-column: 1/span 2;
  grid-row: 7;
}
.KU {
  grid-column: 1/span 2;
  grid-row: 8;
}
.EU {
  grid-column: 1/span 2;
  grid-row: 9;
}
.T1 {
  grid-column: 3/span 2;
  grid-row: 1;
}
.T2 {
  grid-column: 3/span 2;
  grid-row: 2;
}
.T3 {
  grid-column: 3/span 2;
  grid-row: 3;
}
.T4 {
  grid-column: 3/span 2;
  grid-row: 4;
}
.T5 {
  grid-column: 3/span 2;
  grid-row: 5;
}

