
<head>
<link rel="stylesheet" href="vrata.css" />
<script src="math.js"></script>
<script src="vrata.js"></script>
<script src="logika.js"></script>
</head>

<div class="diagram">

  <div class="DL input">
    <h1 id="dl">DL</h1>
    <p>DoorLocked - HIGH when the lock pins are fully extracted</p>
  </div>

  <div class="DU input">
    <h1 id="du">DU</h1>
    <p>DoorUnlocked - HIGH when the lock pins are fully retracted</p>
  </div>

  <div class="DC input">
    <h1 id="dc">DC</h1>
    <p>DoorClosed - HIGH when the door is closed</p>
  </div>

  <div class="NL input">
    <h1 id="nl">NL</h1>
    <p>NeomontanaLockSignal - 10ms IMPULSE initiates door locking</p>
  </div>

  <div class="BL input">
    <h1 id="bl">BL</h1>
    <p>ButtonLockSignal - 10ms IMPULSE initiates door locking</p>
  </div>

  <div class="NU input">
    <h1 id="nu">NU</h1>
    <p>NeomontanaUnlockSignal - 10ms IMPULSE initiates door unlocking</p>
  </div>

  <div class="BU input">
    <h1 id="bu">BU</h1>
    <p>ButtonUnlockSignal - 10ms IMPULSE initiates door unlocking</p>
  </div>

  <div class="KU input">
    <h1 id="ku">KU</h1>
    <p>KeyUnlockSignal - 10ms IMPULSE initiates door unlocking</p>
  </div>

  <div class="EU input">
    <h1 id="eu">EU</h1>
    <p>Set emergency mode locking OR unlocking</p>
  </div>

  <div class="T1 timer">
    <h1 id="t1">T1</h1>
    <p>Timer 1 - 60s door close timeout</p>
  </div>

  <div class="T2 timer">
    <h1 id="t2">T2</h1>
    <p>Timer 2 - 5s lock pins actuation timeout</p>
  </div>

  <div class="T3 timer">
    <h1 id="t3">T3</h1>
    <p>Timer 3 - 600s emergency lock/unlock timer</p>
  </div>

  <div class="T4 timer">
    <h1 id="t4">T4</h1>
    <p>Timer 4 - 0.5s emergency pin reversal timer</p>
  </div>

  <div class="T5 timer">
    <h1 id="t5">T5</h1>
    <p>Timer 5 - 1s strike body timer</p>
  </div>

  <div class="DDL boolean output">
    <h1 id="ddl">DDL</h1>
    <p>DebouncedDoorLockedSignal</p>
  </div>

  <div class="DDU boolean output">
    <h1 id="ddu">DDU</h1>
    <p>DebouncedDoorUnlockedSignal</p>
  </div>

  <div class="DDC boolean output">
    <h1 id="ddc">DDC</h1>
    <p>DebouncedDoorClosedSignal</p>
  </div>

  <div class="DBL boolean">
    <h1 id="dbl">DBL</h1>
    <p>DebouncedLockSignal</p>
  </div>

  <div class="DBU boolean">
    <h1 id="dbu">DBU</h1>
    <p>DebouncedUnlockSignal</p>
  </div>

  <div class="ES boolean">
    <h1 id="es">ES</h1>
    <p>EmergencySignalSet - coils in parallel</p>
  </div>

  <div class="ER boolean">
    <h1 id="er">ER</h1>
    <p>EmergencySignalReset - coils in parallel</p>
  </div>

  <div class="EES boolean">
    <h1 id="ees">EES</h1>
    <p>EmergencyEndSet - stop trying to {EU}</p>
  </div>

  <div class="EER boolean">
    <h1 id="eer">EER</h1>
    <p>EmergencyEndReset - nil</p>
  </div>

  <div class="UNS boolean">
    <h1 id="uns">UNS</h1>
    <p>UnlockNormalSet</p>
  </div>

  <div class="UNR boolean">
    <h1 id="unr">UNR</h1>
    <p>UnlockNormalReset</p>
  </div>

  <div class="LNS boolean">
    <h1 id="lns">LNS</h1>
    <p>LockNormalSet</p>
  </div>

  <div class="LNR boolean">
    <h1 id="lnr">LNR</h1>
    <p>LockNormalReset</p>
  </div>

  <div class="UE boolean">
    <h1 id="ue">UE</h1>
    <p>UnlockEmergency</p>
  </div>

  <!--<div class="UER boolean">-->
  <!--# UER-->
  <!--UnlockEmergencyReset -->
  <!--</div>-->

  <div class="LE boolean">
    <h1 id="le">LE</h1>
    <p>LockEmeregncy</p>
  </div>

  <!--<div class="LER boolean">-->
  <!--# LER-->
  <!--LockEmergencyReset -->
  <!--</div>-->

  <div class="DWLS boolean">
    <h1 id="dwls">DWLS</h1>
    <p>DoorWaitLockSet</p>
  </div>

  <div class="DWLR boolean">
    <h1 id="dwlr">DWLR</h1>
    <p>DoorWaitLockReset</p>
  </div>

  <div class="C counter">
    <h1 id="c">C</h1>
    <p>SIPO - emergency mode shift register</p>
  </div>

  <div class="EG boolean output">
    <h1 id="eg">EG</h1>
    <p>EmergencyGate</p>
  </div>

  <div class="LG boolean output">
    <h1 id="lg">LG</h1>
    <p>LockGate</p>
  </div>

  <div class="UG boolean output">
    <h1 id="ug">UG</h1>
    <p>UnlockGate</p>
  </div>

  <div class="SBG boolean output">
    <h1 id="sbg">SBG</h1>
    <p>StrikeBodyGate</p>
  </div>

  <div class="SBS boolean">
    <h1 id="sbs">SBS</h1>
    <p>StrikeBodySet</p>
  </div>

  <div class="SBR boolean">
    <h1 id="sbr">SBR</h1>
    <p>StrikeBodyReset</p>
  </div>

  <div class="T1RST boolean internal">
    <h1 id="t1rst">T1RST</h1>
    <p>Timer1Reset</p>
  </div>

  <div class="T1STT boolean internal">
    <h1 id="t1stt">T1STT</h1>
    <p>Timer1Start</p>
  </div>

  <div class="T1STP boolean internal">
    <h1 id="t1stp">T1STP</h1>
    <p>Timer1Stop</p>
  </div>

  <div class="T1OVF boolean internal">
    <h1 id="t1ovf">T1OVF</h1>
    <p>Timer1Overflow</p>
  </div>

  <!--<div class="T1CLR boolean internal">-->
  <!--# T1CLR-->
  <!--Timer1Clear -->
  <!--</div>-->

  <div class="T2RST boolean internal">
    <h1 id="t2rst">T2RST</h1>
    <p>Timer2Reset</p>
  </div>

  <div class="T2STT boolean internal">
    <h1 id="t2stt">T2STT</h1>
    <p>Timer2Start</p>
  </div>

  <div class="T2STP boolean internal">
    <h1 id="t2stp">T2STP</h1>
    <p>Timer2Stop</p>
  </div>

  <div class="T2OVF boolean internal">
    <h1 id="t2ovf">T2OVF</h1>
    <p>Timer2Overflow</p>
  </div>

  <!--<div class="T2CLR boolean internal">-->
  <!--# T2CLR-->
  <!--Timer2Clear -->
  <!--</div>-->

  <div class="T3RST boolean internal">
    <h1 id="t3rst">T3RST</h1>
    <p>Timer3Reset</p>
  </div>

  <div class="T3STT boolean internal">
    <h1 id="t3stt">T3STT</h1>
    <p>Timer3Start</p>
  </div>

  <div class="T3STP boolean internal">
    <h1 id="t3stp">T3STP</h1>
    <p>Timer3Stop</p>
  </div>

  <div class="T3OVF boolean internal">
    <h1 id="t3ovf">T3OVF</h1>
    <p>Timer3Overflow</p>
  </div>

  <!--<div class="T3CLR boolean internal">-->
  <!--# T3CLR-->
  <!--Timer3Clear -->
  <!--</div>-->

  <div class="T4RST boolean internal">
    <h1 id="t4rst">T4RST</h1>
    <p>Timer4Reset</p>
  </div>

  <div class="T4STT boolean internal">
    <h1 id="t4stt">T4STT</h1>
    <p>Timer4Start</p>
  </div>

  <div class="T4STP boolean internal">
    <h1 id="t4stp">T4STP</h1>
    <p>Timer4Stop</p>
  </div>

  <div class="T4OVF boolean internal">
    <h1 id="t4ovf">T4OVF</h1>
    <p>Timer4Overflow</p>
  </div>

  <!--<div class="T4CLR boolean internal">-->
  <!--# T4CLR-->
  <!--Timer4Clear -->
  <!--</div>-->

  <div class="T5RST boolean internal">
    <h1 id="t5rst">T5RST</h1>
    <p>Timer5Reset</p>
  </div>

  <div class="T5STT boolean internal">
    <h1 id="t5stt">T5STT</h1>
    <p>Timer5Start</p>
  </div>

  <div class="T5STP boolean internal">
    <h1 id="t5stp">T5STP</h1>
    <p>Timer5Stop</p>
  </div>

  <div class="T5OVF boolean internal">
    <h1 id="t5ovf">T5OVF</h1>
    <p>Timer5Overflow</p>
  </div>

  <!--<div class="T5CLR boolean internal">-->
  <!--# T5CLR-->
  <!--Timer5Clear -->
  <!--</div>-->

  <div class="CB0 boolean internal">
    <h1 id="cb0">CB0</h1>
    <p>CounterBit0</p>
  </div>

  <div class="CB1 boolean internal">
    <h1 id="cb1">CB1</h1>
    <p>CounterBit1</p>
  </div>

  <div class="CB2 boolean internal">
    <h1 id="cb2">CB2</h1>
    <p>CounterBit2</p>
  </div>

  <div class="CB3 boolean internal">
    <h1 id="cb3">CB3</h1>
    <p>CounterBit3</p>
  </div>

  <div class="CB4 boolean internal">
    <h1 id="cb4">CB4</h1>
    <p>CounterBit4</p>
  </div>

  <div class="CB5 boolean internal">
    <h1 id="cb5">CB5</h1>
    <p>CounterBit5</p>
  </div>

  <div class="CCK boolean internal">
    <h1 id="cck">CCK</h1>
    <p>CounterClock</p>
  </div>

  <div class="CCLR boolean internal">
    <h1 id="cclr">CCLR</h1>
    <p>CounterClear</p>
  </div>

  <div class="E boolean internal">
    <h1 id="e">E</h1>
    <p>Emergency - RS trigger</p>
  </div>

  <div class="UN boolean internal">
    <h1 id="un">UN</h1>
    <p>UnlockNormalMode - RS trigger</p>
  </div>

  <div class="LN boolean internal">
    <h1 id="ln">LN</h1>
    <p>LockNormalMode - RS trigger</p>
  </div>

  <div class="DWL boolean internal">
    <h1 id="dwl">DWL</h1>
    <p>DoorWaitLock - RS trigger</p>
  </div>

  <div class="EE boolean internal">
    <h1 id="ee">EE</h1>
    <p>EmergencyEnd - RS trigger</p>
  </div>

  <div class="SB boolean internal">
    <h1 id="sb">SB</h1>
    <p>StrikeBody - RS trigger</p>
  </div>

</div>
